<section id='body'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body'>
  <%=raw @page.content_for(:side_body) %>
</section>
<section id='menu'>
  <%=raw @page.content_for(:menu) %>
</section>